.footer {
  color: white;
  padding: 20px 50px 10px 50px;
  background-color: #0da2a6;
}

.pd {
  padding-top: 20px;
  padding-bottom: 20px;
}

#image {
  height: 500px;
  width: 100%;
  position: relative;
}

label {
  font-size: 30px;
  color: antiquewhite;
}

h5 {
  font-size: 50px;
  color: antiquewhite;
}
